* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: rgb(235, 235, 235);
  font-family: 'Radio Canada', sans-serif;
  display: grid;
  place-items: center;
  height: 70%;
  /* border: 1px solid blue; */
}

.container {
  /* border: 2px solid red; */
  display: grid;
  place-items: center;
  width: 50%;
}

.app-title {
  font-size: 26px;
  font-weight: 300;
  margin-bottom: 30px;
}

.task-input-container {
  display: flex;
  gap: 0;
  width: 100%;
  margin-bottom: 50px;
}

.task-input {
  padding: 10px 30px;
  border: 1px solid #518344;
  width: 82%;
  text-align: center;
  font-size: 14px;
  outline: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.add-task {
  background: none;
  border: 1px solid #518344;
  color: #518344;
  padding: 0 20px;
  width: 18%;
  cursor: pointer;
  font-size: 16px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.tasks-container {
  width: 100%;
}

.task {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  /* border: 1px solid blue; */
}

.task-name {
  font-size: 20px;
}

.completed-icon,
.delete-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.completed-icon {
  stroke: #087f5b;
}

.delete-icon {
  stroke: #f64c4c;
}
